{{ define "main" }}
<article class="single">
  <header class="single-header container">
    {{ $showDate := ne .Params.showDate false }}
    {{ if and $showDate (not .Date.IsZero) }}
      <div class="single-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format (site.Params.dateFormat | default "Jan 2, 2006") }}</time>
      </div>
    {{ end }}
    <h1 class="single-title">{{ .Title }}</h1>
    {{ with .Params.summary | default .Description }}
      <div class="single-excerpt">{{ . | markdownify }}</div>
    {{ end }}
  </header>

  {{ with .Resources.GetMatch "cover.*" }}
    <figure class="single-cover container">
      <img src="{{ .RelPermalink }}" alt="{{ $.Title }}">
    </figure>
  {{ end }}

  <div class="single-content container">
    {{ .Content }}
  </div>

  {{ if .Params.showComments | default false }}
    <div class="single-comments container">
      {{ partial "comments.html" . }}
    </div>
  {{ end }}
</article>
{{ end }}
