{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $caption := .Get "caption" -}}
{{- $class := .Get "class" | default "" -}}
{{- $resource := .Page.Resources.GetMatch $src -}}
<figure{{ with $class }} class="{{ . }}"{{ end }}>
  <img
    class="my-0 rounded-md"
    src="{{ with $resource }}{{ .RelPermalink }}{{ else }}{{ $src | relURL }}{{ end }}"
    alt="{{ $alt }}"
    loading="lazy"
  />
  {{- with $caption }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{- end }}
</figure>
